{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>

  <body style="background-color: #004c66">
    <main>
      <div class="loginMainDiv">
        <img
          src="{% static 'images/logo.png' %}"
          alt="EMIS logo"
          width="200px"
        />
        <div class="loginDiv">
          <form action="">
            <!-- email -->
            <label for="Useremail">Email</label>
            <input type="email" id="" name="Useremail" required />
            <!-- password -->
            <label for="Userpassword">Password</label>
            <input type="password" id="" name="Userpassword" required />
            <!-- button -->
            <button type="submit">Sign Up</button>
          </form>
          <h4>
            New to EMIS?
            <a href="{% url 'register' %}">Register for an account</a>
          </h4>
        </div>
      </div>
      <div></div>
    </main>
    <footer></footer>
  </body>
</html>
