{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EMIS Register School/Institution</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
  </head>

  <body>
    <main>
      <!--check for message messsage  -->
      {% if messages %} {% for message in messages %}

      <div
        {%
        if
        message.tags
        %}
        class="notification {{message.tags}}"
        {%
        endif
        %}
      >
        <span class="close" onclick="this.parentElement.style.display='none'"
          >&times;</span
        >
        <strong> Message: </strong> {{message}}
      </div>
      {% endfor %}{%endif%}

      <div class="loginMainDiv">
        <img
          src="{% static 'images/logo.png' %}"
          alt="EMIS logo"
          width="200px"
        />

        <!-- register form here -->
        <!-- div class -->
        <div class="loginDiv">
          <!-- form here -->
          <form
            action="{% url 'registerUser' %}"
            method="POST"
            onsubmit="return comparePasswords()"
          >
            {% csrf_token %}
            <!-- Email -->
            <label for="Useremail">Email</label>
            <input type="email" name="Useremail" required />
            <!-- User first name -->
            <label for="Userfirstname">First Name</label>
            <input type="text" name="Userfirstname" required />
            <!-- User lastname -->
            <label for="Userlastname">Last Name</label>
            <input type="text" name="Userlastname" required />

            <!-- Create Password -->
            <!-- error message -->
            <div id="passwordMismatch" class="error-message">
              Passwords do not match. Please check again.
            </div>
            <!-- password field -->
            <label for="Userpassword">Password</label>
            <input type="password" id="password" name="Userpassword" required />
            <!-- Confirm Password -->
            <label for="Userpassword">Confirm Password</label>
            <input
              type="password"
              id="Userpassword"
              name="Confirmpassword"
              required
            />
            <!-- Institution Name -->
            <label for="Userschoolname">School Name</label>
            <input type="text" name="Userschoolname" required />
            <!-- Institution type -->
            <label for="institutionType">Institution type</label>
            <!-- institution type here -->
            <select name="institutionType" id="" class="institutionType">
              <option value="i_school">institution / college</option>
              <option value="s_school">Secondary School</option>
              <option value="p_school">Primary School</option>
              <option value="k_school">Kindergaten School</option>
            </select>
            <!-- submit button -->
            <button type="submit">Sign Up</button>
          </form>
          <!-- link to login -->
          <h4>
            Already on EMIS?
            <a href="{% url 'login' %}">Log into your account</a>
          </h4>
        </div>
      </div>
    </main>
    <!-- javascript for validating  the password field -->
    <script>
      // Function to compare passwords before form submission
      function comparePasswords() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var passwordMismatchMessage =
          document.getElementById("passwordMismatch");

        if (password !== confirmPassword) {
          passwordMismatchMessage.style.display = "block"; // Show error message
          return false; // Prevent form submission
        }

        passwordMismatchMessage.style.display = "none"; // Hide error message
        return true; // Allow form submission
      }
    </script>
  </body>
</html>
