{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head5>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Institution Dashboard | Emis chrone</title>
    <!-- <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <link rel="favicon" type="image/png" href="images/icons8-shield-60.png" />
  </head5>

  <body>
    <header>
      {% if messages %} {% for message in messages %}

      <div {% if message.tags %} class="notification {{message.tags}}" {% endif %}>
        <span class="close" onclick="this.parentElement.style.display='none'">&times;</span>
        <strong> Message: </strong> {{message}}
      </div>
      {% endfor %} {% endif %}
    </header>
    <main>
      <!-- create main body -->
      <!-- side bar  body-->
      <div class="sidebarDiv">
        <!-- Emis logo diiv in the side bar -->
        <div class="emislogo">
          <!-- emis icon -->
          <img src="{% static 'images/logo.png'%}" alt="" height="60%" />
          <!-- menu icon -->
          <img src="{% static 'images/icons8-menu-30.png'%}" alt="" height="30%" />
        </div>
        <!-- EMis list in the sidebar -->
        <div class="mainsidebarlist">
          <!-- list item -->
          <a href="/dashboard/">
            <div>
              <img src="{% static 'images/icons8-dashboard-32.png'%}" alt="" width="6%" />
              EMIS Dashboard
            </div>
          </a>
          <!-- list item -->
          <div class="sidebar">
            <ul>
              <li class="main-item" id="register">
                <img src="{% static 'images/icons8-upload-to-cloud-64.png'%}" alt="" width="6%" />
                EMIS DATAUPLOAD

                <ul class="sub-menu">
                  <a href="/emisdataupload/">
                    <li class="sub-item" id="employees">Learners</li>
                  </a>
                  <li class="sub-item" id="students">Students</li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- side bar list heading -->
          <h5 class="mainsidebarlistHeadings">Manage Emis Data</h5>

          <!-- list item -->
          <a href="">
            <div>
              <img src="{% static 'images/icons8-settings-50.png'%}" alt="" width="6%" />
              My Institution
            </div>
          </a>
          <!-- list item -->
          <a href="">
            <div>
              <img src="{% static 'images/icons8-license-80.png'%}" alt="" width="6%" />
              License and Registration
            </div>
          </a>
          <!-- list item -->
          <a href="">
            <div>
              <img src="{% static 'images/icons8-book-50.png'%}" alt="" width="6%" />
              Learners
            </div>
          </a>
          <!-- list item -->
          <a href="">
            <div>
              <img src="{% static 'images/icons8-human-91.png'%}" alt="" width="6%" />
              Human Resource
            </div>
          </a>
          <!-- list item -->
          <a href="">
            <div>
              <img src="{% static 'images/icons8-infrastructure-64.png'%}" alt="" width="6%" />
              Infrastructure
            </div>
          </a>
          <!-- list item -->
          <a href="">
            <div>
              <img src="{% static 'images/icons8-learning-50.png'%}" alt="" width="6%" />
              Learning and Playing Materials
            </div>
          </a>
          <!-- list item -->
          <a href="">
            <div>
              <img src="{% static 'images/icons8-paint-50.png'%}" alt="" width="6%" />
              Facilities
            </div>
          </a>
          <!-- list item -->
          <a href="">
            <div>
              <img src="{% static 'images/icons8-weightlifting-48.png'%}" alt="" width="6%" />
              P.E & Sports
            </div>
          </a>
          <!-- list item -->
          <a href="">
            <div>
              <img src="{% static 'images/icons8-stack-of-coins-48.png'%}" alt="" width="6%" />
              Finance
            </div>
          </a>

          <!-- side bar list heading -->
          <h5 class="mainsidebarlistHeadings">UTILITIES</h5>

          <!-- list item -->
          <a href="">
            <div>
              <img src="{% static 'images/icons8-stack-of-coins-48.png'%}" alt="" width="6%" />
              Publications
            </div>
          </a>
          <!-- list item -->
          <a href="">
            <div>
              <img src="{% static 'images/icons8-stack-of-coins-48.png'%}" alt="" width="6%" />
              EMIS Notices
            </div>
          </a>
          <!-- side bar list heading -->
          <h5 class="mainsidebarlistHeadings">HELP-CENTER</h5>

          <!-- list item -->
          <a href="">
            <div>
              <img src="{% static 'images/icons8-stack-of-coins-48.png'%}" alt="" width="6%" />
              EMIS Support
            </div>
          </a>
        </div>
      </div>
      <div class="mainBody">
        <!-- creating header -->
        <div class="headerDiv">
          <div class="academicyear">
            <img src="{% static 'images/icons8-timeline-week-48.png'%}" height="70%" alt="" />
            ACADEMIC YEAR 2023
          </div>
          <div class="Useraccount" style="width: 25%">
            <div class="UseraccountDetailsInitials">AA</div>
            <div class="UseraccountDetails">
              <span style="color: black">Contact Person Account</span>
              <br />
              <span style="color: rgb(0, 1, 56); font-weight: bold">{{username}}</span>
            </div>
            <a href="/logout/">
              <div style="
                  /* background-color: rgb(172, 0, 0); */
                  padding: 10px;
                  color: rgb(251, 0, 0);
                  border: none;
                  border-radius: 5px;
                  font-size: 0.8em;
                  cursor: pointer;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  margin: 5px;
                ">
                <img src="{% static 'images/icons8-shutdown-48.png' %}" alt="" height="40" />
                Logout
              </div>
            </a>
          </div>
        </div>
        <!-- creating main -->
        <div class="mainBodyDiv">
          <div class="welcomeDiv">
            <!-- welcome note -->
            <div class="welcome">
              <span style="font-size: 25px; font-weight: bold">Welcome !</span>
              <br /><br />
              A quick summmary of your Institution
            </div>
            <!-- data upload button -->
            <div class="academicyear" style="background-color: #000c36">
              <img src="{% static 'images/icons8-arrow-30.png' %}" height="50%" alt="" />
              <a href="/emisdataupload/"> GO TO EMIS DATA UPLOAD </a>
            </div>
            {% comment %} Child elements will override this block with their
            content {% endcomment %}
          </div>
          <div>{% block content %}{% endblock %}</div>
        </div>
        <footer style="text-align: center; opacity: 0.6">
          <hr />
          @EMIS chrone (For Educational purposes only) 2023 Nahurira Collin
          Blessing
        </footer>
      </div>
      <script>
        const mainItems = document.querySelectorAll(".sidebar");
        const subMenus = document.querySelectorAll(".sub-menu");
        const sidebarContent = document.querySelector(".sidebar-content");

        mainItems.forEach((item) => {
          const subMenu = item.querySelector(".sub-menu");
          item.addEventListener("click", () => {
            // Hide all sub-menus
            subMenus.forEach((menu) => (menu.style.display = "none"));
            // Show the selected sub-menu
            subMenu.style.display = "block";
            // Clear previous content
            sidebarContent.textContent = "";
          });
        });
      </script>
    </main>
  </body>

</html>