{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Institution Dashboard | Emis chrone</title>  
  </head>

  <body>
    <main>
      {% block content %}
          <!-- Upload section -->
          <div class="uploadSection">

            <div class="container">
              <label for="">Add Photo</label>
              <div class="preview" style="height: 200px; width: 200px; border: 1px solid #b3bfe9">
                <img id="previewImage" src="" />
              </div>
              <input type="file" id="chooseFile" accept="image/*" style="visibility: collapse" />
              <label for="chooseFile" class="choose-button">Choose Photo</label>
            </div>
            <script src="{% static 'js/emisdataupload.js' %}"></script>

            <div class="learner-form">
              <form>
                <label for="nin">Does this learner have a NIN?</label><br />
                <input type="radio" id="yesNIN" name="nin" value="yes" />
                <label for="yesNIN">Yes</label>
                <input type="radio" id="noNIN" name="nin" value="no" checked/>
                <label for="noNIN">No</label><br /><br />

                <label for="refugee">Is this learner a refugee?</label><br />
                <input type="radio" id="yesRefugee" name="refugee" value="yes" />
                <label for="yesRefugee">Yes</label>
                <input type="radio" id="noRefugee" name="refugee" value="no" checked/>
                <label for="noRefugee">No</label><br /><br />

                <label for="nationality">Learner nationality:</label><br />
                <select id="nationality" name="nationality" required>
                  <option value="" disabled selected>Select a nationality</option>
                  <optgroup label="African countries">
                    <option value="Uganda" selected>Uganda</option>
                    <option value="Algeria">Algeria</option>
                    <option value="Angola">Angola</option>
                    <option value="Benin">Benin</option>
                    <option value="Botswana">Botswana</option>
                    <option value="Burkina Faso">Burkina Faso</option>
                    <option value="Burundi">Burundi</option>
                    <option value="Cabo Verde">Cabo Verde</option>
                    <option value="Cameroon">Cameroon</option>
                    <option value="Central African Republic">Central African Republic</option>
                    <option value="Chad">Chad</option>
                    <option value="Comoros">Comoros</option>
                    <option value="Congo">Congo</option>
                    <option value="Djibouti">Djibouti</option>
                    <option value="Egypt">Egypt</option>
                    <!-- Add more African countries here -->
                  </optgroup>
                </select><br /><br />

                <label for="firstName">First name *</label>
                <input type="text" id="firstName" name="firstName" required /><br />

                <label for="surname">Surname *</label>
                <input type="text" id="surname" name="surname" required /><br />

                <label for="otherNames">Other names</label>
                <input type="text" id="otherNames" name="otherNames" /><br />

                <label for="dateOfBirth">Date of birth</label >
                <input type="date" id="dateOfBirth" name="dateOfBirth" required/><br />

                <label>Gender</label ><br />
                <input type="radio" id="male" name="gender" value="male" required/>
                <label for="male">Male</label>
                <input type="radio" id="female" name="gender" value="female" />
                <label for="female">Female</label><br /><br />

                <label for="isOrphan">Is learner an orphan?</label><br />
                <input type="radio" id="yesOrphan" name="isOrphan" value="yes" />
                <label for="yesOrphan">Yes</label>
                <input type="radio" id="noOrphan" name="isOrphan" value="no" checked/>
                <label for="noOrphan" >No</label><br /><br />

                <label for="districtOfBirth">District of birth</label><br />
                <select id="districtOfBirth" name="districtOfBirth" required>
                  <option value="" disabled selected>Select a district</option>
                  <optgroup label="Districts in Uganda">
                    <option value="Kampala">Kampala</option>
                    <option value="Jinja">Jinja</option>
                    <option value="Gulu">Gulu</option>
                    <option value="Mbarara">Mbarara</option>
                    <option value="Mbale">Mbale</option>
                    <option value="Arua">Arua</option>
                    <option value="Masaka">Masaka</option>
                    <option value="Lira">Lira</option>
                    <option value="Entebbe">Entebbe</option>
                    <option value="Fort Portal">Fort Portal</option>
                    <!-- Add more districts in Uganda here -->
                  </optgroup>
                </select><br /><br />

                <button type="submit">Submit</button>
              </form>
            </div>
          </div>
        {% endblock %}
        <footer style="text-align: center; opacity: 0.6">
          <hr />
          @EMIS chrone (For Educational purposes only) 2023 Nahurira Collin
          Blessing
        </footer>
      </div>
    </main>
  </body>

</html>