{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Institution Dashboard | Emis chrone</title>
        <!-- <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" /> -->
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    </head>

    <body>
        <main>
            {% block content %}
            <div class="dataDiv">
                <div class="DataDiv">
                    <div class="generalInformation">
                        <div class="infoTable">
                            <div class="first">
                                <img src="{% static 'images/icons8-person-50.png'%}" height="40" alt="">
                            </div>
                            <div class="middle">
                                <span style="font-size: 30px;">22</span>
                                <br>
                                LEARNERS
                            </div>
                            <div class="Last">
                                <div style="border-bottom: 1px solid;">
                                    <span style="font-size: 15px;">22</span>
                                    <br>
                                    MALE
                                </div>
                                <div>
                                    <span style="font-size: 15px;">22</span>
                                    <br>
                                    FEMALE
                                </div>
                            </div>
                        </div>
                        <div class="infoTable">
                            <div class="first">
                                <img src="{% static 'images/icons8-person-50.png'%}" height="40" alt="">
                            </div>
                            <div class="middle">
                                <span style="font-size: 30px;">22</span>
                                <br>
                                TEACHING STAFF
                            </div>
                            <div class="Last">
                                <div style="border-bottom: 1px solid;">
                                    <span style="font-size: 15px;">22</span>
                                    <br>
                                    MALE
                                </div>
                                <div>
                                    <span style="font-size: 15px;">22</span>
                                    <br>
                                    FEMALE
                                </div>
                            </div>
                        </div>
                        <div class="infoTable">
                            <div class="first">
                                <img src="{% static 'images/icons8-person-50.png'%}" height="40" alt="">
                            </div>
                            <div class="middle">
                                <span style="font-size: 30px;">22</span>
                                <br>
                                SUPPORT STAFF
                            </div>
                            <div class="Last">
                                <div style="border-bottom: 1px solid;">
                                    <span style="font-size: 15px;">22</span>
                                    <br>
                                    MALE
                                </div>
                                <div>
                                    <span style="font-size: 15px;">22</span>
                                    <br>
                                    FEMALE
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="graphInformation">
                        <div class="enrollment"></div>
                        <div class="ninisDiv">
                            <div class="ninis">
                                <div style="height: 50%;">
                                    <img src="{% static 'images/icons8-bar-graph-53.png' %}" alt="" height="100%">
                                </div>
                                <div>
                                    <span style="font-size: 23px;font-weight: bold;color: #000c36;">44</span>
                                    <br>
                                    Learners With NINS
                                </div>
                            </div>
                            <div class="ninis">
                                <div style="height: 50%;">
                                    <img src="{% static 'images/icons8-bar-graph-53 (pink).png'%}" alt="" height="100%">
                                </div>
                                <div>
                                    <span style="font-size: 23px;font-weight: bold;color: #000c36;">45</span>
                                    <br>
                                    Learners Without NINS
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="recentlyAddedLearners">

                        <table>
                            <thead>
                                <tr>
                                    <th scope="col">LEARNER</th>
                                    <th scope="col">LIN</th>
                                    <th scope="col">NAME</th>
                                    <th scope="col">NATIONALITY</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for p in i %}
                                <tr>
                                    <th ><img src="{% static '{{p.photo}}' %}" width="40"></th>
                                    <td>{{p.LIN}}</td>
                                    <td>{{p.firstName}} {{p.sirname}}</td>
                                    <td>{{p.nationality}}</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endblock %}
            <footer style="text-align: center;opacity: 0.6;">
                <hr>
                @EMIS chrone (For Educational purposes only) 2023 Nahurira Collin Blessing
            </footer>
            </div>
        </main>

    </body>

</html>