body {
  margin: 0;
  box-sizing: content-box;
  font-family: roboto;
  /* overflow-y: hidden; */
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: inherit;
}

.sidebarDiv {
  width: 20%;
}

.emislogo {
  background-color: #228eb3;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mainsidebarlist {
  background-color: #000c36;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90vh;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}

.mainsidebarlist a div{
  height: 6vh;
}

.mainsidebarlist div {
  text-align: left;
  color: #f0f8ffd5;
  font-size: 17px;
  font-weight: bold;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.sidebar {
  display: inline;
  width: 100%;
  margin: 0;
  height: fit-content;
  padding: 0;
}

.sidebar ul {
  width: 100%;
  list-style: none;
  padding-left: 0;
}

.sidebar .main-item {
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.sub-menu li:hover {
  color: #f0f8ff;
  background-color: #3ca4c73f;
}

.sub-menu {
  list-style: none;
  margin-top: 5px;
  padding-left: 15px;
  display: none;
}

.sidebar-content {
  padding: 20px;
  border-left: 1px solid #ccc;
  min-height: 200px;
}

.mainsidebarlist div:hover {
  color: #f0f8ff;
  background-color: #3ca4c73f;
}

.mainsidebarlist div img {
  padding-right: 20px;
}

.mainsidebarlistHeadings {
  color: #f0f8ff9d;
  padding-left: 20px;
}

/* customising the scroll bar */
/* For Webkit (Chrome, Safari, etc.) */
.mainsidebarlist::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

.mainsidebarlist::-webkit-scrollbar-thumb {
  background-color: #dadada71;
  /* Color of the scrollbar thumb */
  border-radius: 5px;
  /* Rounded corners of the thumb */
}

.mainsidebarlist::-webkit-scrollbar-thumb:hover {
  background-color: #b9b9b9ab;
  /* Color of the scrollbar thumb on hover */
}

/* main body css */
.mainBody {
  background-color: #f0f0f0;
  width: 80%;
  height: 100vh;
  overflow-y: auto;
}

.headerDiv {
  height: 10vh;
  align-items: center;
  display: flex;
  flex: row;
  justify-content: flex-end;
  background-color: #c3d3da;
}

.academicyear {
  width: 14%;
  height: 4vh;
  font-size: 0.7em;
  font-weight: light;
  display: flex;
  color: #f0f8ff;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 4px solid #c3d3dae5;
  background-color: #228eb3;
}

.Useraccount {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.UseraccountDetailsInitials {
  border: none;
  border-radius: 50%;
  width: fit-content;
  padding: 20px;
  color: #c3d3da;
  background-color: #000c36;
}

.UseraccountDetails {
  font-family: inherit;
  font-size: 14px;
  text-align: center;
}

/* main body div */

.welcomeDiv {
  display: flex;
  justify-content: space-between;
  margin: 10px 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #339194;
}

.welcome {
  text-align: start;
  opacity: 0.7;
  color: #000c36;
}

.dataDiv {
  display: flex;
  height: 110vh;
  overflow-y: auto;
  flex-direction: row;
}

.DataDiv {
  width: 100%;
  height: 100vh;
  padding: 10px;
  margin: 10px;
}

.generalInformation {
  display: flex;
}

.infoTable {
  margin: 20px;
  height: 10vh;
  width: 30%;
  display: flex;
  flex-direction: row;
  border: 1px solid;
  text-align: center;
  align-items: center;
  background-color: #339194;
  color: aliceblue;
}

.Last,
.first {
  justify-content: center;
  width: 20%;
  align-items: center;
}

.middle {
  width: 60%;
  font-size: 13px;
  text-align: center;
  height: 100;
}

.Last {
  text-align: center;
  height: 100%;
  color: aliceblue;
  background-color: #777777;
}

.Last div {
  width: 100%;
  height: 50%;
  font-size: 13px;
}

/* enrollment */
.graphInformation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50vh;
}

.enrollment {
  width: 66%;
  border: 1px solid #339194;
  height: 90%;
}

.ninisDiv {
  font-size: 14px;
  width: 25%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ninis {
  width: 100%;
  height: 45%;
  border: 1px solid #339194;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* recentlyAddedLearners*/
.recentlyAddedLearners {
  width: 95.5%;
  border: 1px solid #339194;
  height: fit-content;
  margin: 10px auto;
}

/* table */
table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

thead {
  color: aliceblue;
  font-size: 0.8em;
  background-color: rgb(29, 29, 29);
  border: none;
  height: 3vh;
}

tr {
  border-top: 1px solid rgb(210, 210, 210);
  height: 4vh;
  text-align: center;
}

.uploadSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* for emis data upload */
.container {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.learner-form {
  width: 60%;
}

.choose-button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
}

.preview {
  margin-top: 20px;
}

#previewImage {
  max-width: 100px;
  max-height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.learner-form {
  /* max-width: 600px; */
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

label {
  /* font-weight: bold; */
  font-size: 14px;
  padding-bottom: 15px;
  color: #010816;
  text-transform: uppercase;
}

input[type="text"],
select,
input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background-color: #e5eef7;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin-right: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* messages */
.notification {
  width: 300px;
  padding: 15px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 18%;
  left: 50%;
}

.error {
  background-color: #f44336;
  color: white;
}

.success {
  background-color: #4caf50;
  color: white;
}

.close {
  float: right;
  font-weight: bold;
  cursor: pointer;
}