/* Reset some default styling */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/* Body background */
body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Center vertically */
}

/* Form container */
.loginMainDiv {
  background-color: #004c66;
  padding: 30px;
  width: 60vw;
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Logo */
.loginMainDiv img {
  display: block;
  margin: 0 auto 20px;
}

/* Form elements */
.loginDiv label {
  color: aliceblue;
  display: block;
  font-weight: bold;
  margin-top: 15px;
}

.loginDiv input[type="email"],
.loginDiv input[type="text"],
.loginDiv input[type="password"],
.loginDiv select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginDiv select {
  appearance: none;
}

/* Reduce width of input fields */
.loginDiv input[type="email"],
.loginDiv input[type="text"],
.loginDiv input[type="password"],
.loginDiv select {
  width: 100%;
  /* Adjust the width as needed */
  max-width: 700px;
  /* Set a maximum width for consistency */
}

/* Submit button */
.loginDiv button[type="submit"] {
  background-color: #228eb3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.loginDiv button[type="submit"]:hover {
  background-color: #003952;
}

/* "Already on EMIS?" link */
.loginDiv h4 {
  margin-top: 15px;
  color: aliceblue;
}

.loginDiv h4 a {
  color: #e7e7e75d;
  text-decoration: none;
  zoom: 97%;
}

.loginDiv h4 a:hover {
  text-decoration: underline;
  zoom: 100%;
}

.error-message {
  border: 1px solid #e74c3c;
  background-color: #f2dede;
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  display: none;
}

/* messages */
.notification {
  width: 300px;
  padding: 15px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 18%;
  left: 50%;
}

.error {
  background-color: #f44336;
  color: white;
}

.success {
  background-color: #4caf50;
  color: white;
}

.close {
  float: right;
  font-weight: bold;
  cursor: pointer;
}
